<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Citrique -->
      <factory
            uri="http://com.misc.projects.citrique.emf"
            class="citrique2.provider.ctr2ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         id="id1"
         name="name"
         point="org.eclipse.sirius.common.editingDomainFactory">
      <editingDomainFactory
            class="citrique2.extension.EditingDomainFactoryCitrique"
            override="org.eclipse.sirius.LocalSessionEditingDomainFactory">
      </editingDomainFactory>
   </extension>

</plugin>
