<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Citrique -->
      <package
            uri="http://com.misc.projects.citrique.emf"
            class="citrique.CitriquePackage"
            genModel="model/Citrique.genmodel"/>
   </extension>

</plugin>
