<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Citrique -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="citrique2.presentation.ctr2ModelWizardID"
            name="%_UI_ctr2ModelWizard_label"
            class="citrique2.presentation.ctr2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ctr2ModelFile.gif">
         <description>%_UI_ctr2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Citrique -->
      <editor
            id="citrique2.presentation.ctr2EditorID"
            name="%_UI_ctr2Editor_label"
            icon="icons/full/obj16/ctr2ModelFile.gif"
            extensions="ctr2"
            class="citrique2.presentation.ctr2Editor"
            contributorClass="citrique2.presentation.ctr2ActionBarContributor">
      </editor>
   </extension>

</plugin>
