<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Citrique -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="citrique3.presentation.Citrique3ModelWizardID"
            name="%_UI_Citrique3ModelWizard_label"
            class="citrique3.presentation.Citrique3ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Citrique3ModelFile.gif">
         <description>%_UI_Citrique3ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Citrique -->
      <editor
            id="citrique3.presentation.Citrique3EditorID"
            name="%_UI_Citrique3Editor_label"
            icon="icons/full/obj16/Citrique3ModelFile.gif"
            extensions="citrique3"
            class="citrique3.presentation.Citrique3Editor"
            contributorClass="citrique3.presentation.Citrique3ActionBarContributor">
      </editor>
   </extension>
</plugin>
